<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Traffic Signs🚦 Classification</title>
    <link
      href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/main.css') }}"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">
          <h3>Traffic🚦 Signs Classifier</h3>
        </a>
      </div>
    </nav>
    <div class="container">
      <div id="content" style="margin-top: 2em">
        <h2>Upload Traffic Signs🚦</h2>
        <style>
          .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #2dcba7;
            color: black;
            text-align: center;
            font-size: 25px;
            font-weight: bold;
          }
        </style>

        <div>
          <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
          />
          <form id="upload-file" method="post" enctype="multipart/form-data">
            <label for="imageUpload" class="upload-label"> Upload... </label>
            <input
              type="file"
              name="file"
              id="imageUpload"
              accept=".png, .jpg, .jpeg"
            />
          </form>


          <h3 id="result">
            <span> The Speed limit is 50 km/h. </span>
          </h3>
        </div>
      </div>
    </div>
  </body>
</html>
