<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Final Year Project</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../templates/style.css" rel="stylesheet"/>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
      <div class="container">
        <a href="#" class="navbar-brand">
          <img src="../logo.png" width="45" alt="" class="d-inline-block align-middle mr-2">
          <span class="text-uppercase font-weight-bold">Traffic Sign Classifier</span>
        </a>


      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="#" class="nav-link">Home <span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a href="#work" class="nav-link">Upload</a></li>
          <li class="nav-item"><a href="#team" class="nav-link">Team</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="intro">
    <p style="font-family:courier;"> <b>Traffic sign classification is the process of automatically recognizing traffic signs 
      along the road, including speed limit signs, yield signs, merge signs, etc. Being able to automatically recognize traffic
       signs enables us to build “smarter cars”.</b></p>
  </div>
  <div class="container">
    <div id = "work">
           <h1>Upload Traffic Sign </h1>
            <!-- Here is the main functaion of this project: -->
           <div class="upload">
             <div class="up">
              <form id="upload-file" method="post" enctype="multipart/form-data">
              
              <input
                type="file"
                name="file"
                id="imageUpload"
                accept=".png, .jpg, .jpeg"
              /></form><br>
              <label for="imageUpload" class="upload-label"> <button type="button" class="btn btn-dark">Upload</button> </label>  
            </form>
            <h3 id="result">
              <span style="color:black; font-size: 25px; "> The Speed limit is 50 km/h. </span>
            </h3>
            </div>
            <!-- Upto here is the main function of this project. -->
          </div>
    </div>

       
	
		    
        </div>
        <h1>Scope and Upcoming Features</h1>
        <div class="py-5 service-6">
          <div class="container">
              <!-- Row  -->
              <div class="row">
                  <!-- Column -->
                  <div class="col-md-4 wrap-service6-box">
                      <div class="card border-0 bg-success-gradiant text-white mb-4">
                          <div class="card-body">
                              <h6 class="font-weight-medium text-white">ADAS</h6>
                              <p class="mt-3">Being able to automatically recognize traffic signs enables us to build “smarter cars”. Self-driving cars need traffic sign recognition in order to properly parse and understand the roadway</p>
                              <a href="#f4" class="linking">Learn More</a>
                          </div>
                      </div>
                  </div>
                  <!-- Column -->
                  <!-- Column -->
                  <div class="col-md-4 wrap-service6-box">
                      <div class="card border-0 bg-info-gradiant text-white mb-4">
                          <div class="card-body">
                              <h6 class="font-weight-medium text-white">Driver Alert</h6>
                              <p class="mt-3">Being able to automatically recognize traffic signs enables us to build “smarter cars”. Self-driving cars need traffic sign recognition in order to properly parse and understand the roadway</p>
                              <a href="#f4" class="linking">Learn More</a>
                          </div>
                      </div>
                  </div>
                  <!-- Column -->
                  <!-- Column -->
                  <div class="col-md-4 wrap-service6-box">
                      <div class="card border-0 bg-danger-gradiant text-white mb-4">
                          <div class="card-body">
                              <h6 class="font-weight-medium text-white">Real Time Detection</h6>
                              <p class="mt-3">Being able to automatically recognize traffic signs enables us to build “smarter cars”. Self-driving cars need traffic sign recognition in order to properly parse and understand the roadway</p>
                              <a href="#f4" class="linking">Learn More</a>
                          </div>
                      </div>
                  </div>
                  <!-- Column -->
                  <div class="col-md-12 mt-3 text-center">
                      <a class="btn btn-outline-success btn-md"><span>View Details</span></a>
                  </div>
              </div>
          </div>
      </div>
      <div id="team">
        <h1>Team Members</h1>

        <div class="container">
          <div class="row text-center">
      
              <!-- Team item -->
              <div class="col-xl-3 col-sm-6 mb-5">
                  <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C4D03AQGgsHstTUJ49g/profile-displayphoto-shrink_400_400/0/1609398956433?e=1656547200&v=beta&t=SWrdSj-9OLbOdVUhLak8w6Jf2b6HaOknTFnRKURqQxA" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                      <h5 class="mb-0">Anurag Anand</h5><span class="small text-uppercase text-muted">CSE/18/27</span>
                      
                  </div>
              </div><!-- End -->
      
              <!-- Team item -->
              <div class="col-xl-3 col-sm-6 mb-5">
                  <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C4D03AQF6A1qRhN-3-g/profile-displayphoto-shrink_400_400/0/1650805187481?e=1656547200&v=beta&t=kc2VkDtDRwDhAhBVmzskU206UYzBzbtbGg5vPm9-rgE" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                      <h5 class="mb-0">Sarthak Gupta</h5><span class="small text-uppercase text-muted">CSE/18/28</span>
                      
                  </div>
              </div><!-- End -->
      
              <!-- Team item -->
              <div class="col-xl-3 col-sm-6 mb-5">
                  <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C4E03AQHVi0VqQf9JsA/profile-displayphoto-shrink_400_400/0/1597560844744?e=1656547200&v=beta&t=3cPNizzj-tjDmwKHIzcdVqi0W6Age1pHECNbpEj9hRo" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                      <h5 class="mb-0">Shubham Singh</h5><span class="small text-uppercase text-muted">CSE/18/29</span>
                     
                  </div>
              </div><!-- End -->
      
              <!-- Team item -->
              <div class="col-xl-3 col-sm-6 mb-5">
                  <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C4E03AQEPAEzQCEy96g/profile-displayphoto-shrink_400_400/0/1596619182270?e=1656547200&v=beta&t=A8oeGHvx2tF4SrGSosZszXrVgKCkFZytLx7wW4vbmMA" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                      <h5 class="mb-0">Dhiren Sorathiya</h5><span class="small text-uppercase text-muted">CSE/18/30</span>
                      
                  </div>
              </div><!-- End -->
          </div>
      </div>
      </div>
    </div>
  </body>
  </html>